:root {
    box-sizing: border-box;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 9rem;
    width: 100%;
    background: #f72210;
}

.lazyside {
    width: 100%;
}

.lazyside1 {
    width: 100%;
    height: 360px;
}

.art-margin {
    margin-top: 1em;
}

.hori-line {
    height: 1px;
    width: 100%;
    background: gray;
}

nav {
    width: 100%;
    background: blue;
    border: 1px solid gray;
    font-size: 1.6em;
}

.Featured-Stories {
    height: auto;
}

.article-wrapper {
    height: 33em;
}

.Top-Story {
    height: 170em;
}

.sum-wrap h3,
.sum-wrap .summary {
    margin-top: 0;
}

.sum-wrap .my-font {
    font-size: .8em;
    color: black;
}

.summary1 {
    font-size: .8em;
}

.sum-wrap>h3 {
    font-size: 1.1em;
}

.Opinion {
    height: 170em;
}

.inside-mag {
    height: 30em;
    border: 1px solid black;
}

.bottom {
    margin-bottom: 1em;
}

.section {
    height: 30em;
    border: 1px solid red;
}

.one,
.two,
.three {
    height: 10em;
    border: 1px dotted greenyellow;
}

.one {
    background: red;
}

.two {
    background: gold;
}

.gb {
    background: url("https://g.newsweek.com/themes/newsweek/images/subscribe-img2.gif") center center / cover no-repeat;
}

.subscribe-block .mag-thumb.current {
    position: absolute;
    top: 13px;
    left: 80px;
}

.three {
    background: green;
}

.spe-article {
    box-sizing: border-box;
    margin-top: 2em;
    height: 30em;
    width: 100%;
}

.bk-image {
    background: url("https://d.newsweek.com/en/full/1502124/university-southern-california-sol-price-school-public-policy.jpg?w=343&h=229&f=56b039bb46a2a59b29eca71cd945a024");
    background-repeat: no-repeat;
}

.subscribe {
    height: 25em;
    background: white;
}

.subscribe>h3 {
    color: #f72210;
}

.h1 {
    top: 2rem;
}

h3 {
    font-weight: 700;
}

.news {
    position: relative;
    bottom: 18px;
}

.more-stories h3 {
    color: rgba(3, 3, 3, .4);
    margin-top: 13em;
}

.hori-line {
    width: 100%;
    height: 1px;
    background: rgba(3, 3, 3, .4);
}

.newsletter {
    height: 23em;
}

.wrap {
    height: 300px;
}

.full-img {
    width: 100%;
    height: 364px;
}

.Featured-Stories h3,
.Top-Story h3,
.Opinion h3 {
    color: rgba(3, 3, 3, .4);
    font-size: 1.3em;
    font: bold 16px/16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    padding-bottom: 11px;
}

h3 {
    font-size: 23px;
    line-height: 23px;
}

h3>a {
    color: black;
    font-weight: bolder;
}

h3>a:hover {
    text-decoration: underline;
    text-decoration-color: #f72210;
    color: black;
}

h3>a .summary {
    font-size: 1.1em;
    font-weight: 200;
}

.category,
.category1,
.category2,
.category3 {
    display: block;
    font: bold 17px/16px "Roboto Condensed", sans-serif;
    color: #f72210;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .9);
    position: absolute;
}

.category-top {
    position: absolute;
    top: 23.1em;
    display: block;
    font: bold 17px/16px "Roboto Condensed", sans-serif;
    color: #f72210;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .9);
    padding: 8px 15px 9px;
}

.category {
    left: 0;
    padding: 8px 15px 9px;
    top: 17em;
}

.category1 {
    padding: 10px;
    top: 44em;
}

.category2 {
    padding: 10px;
    top: 71.2em;
}

.category3 {
    padding: 10px;
    top: 98.4em;
}

.special {
    height: 100em;
    margin-top: 5em;
    width: 85%;
}

.shead {
    color: #f72210;
    background: white;
}

.sign-up-sec {
    height: 12em;
    width: 90%;
    background: #f4f5f6;
}

.sign-up .spe-img {
    background: url("https://d.newsweek.com/en/full/1502124/university-southern-california-sol-price-school-public-policy.jpg?w=343&h=229&f=56b039bb46a2a59b29eca71cd945a024");
    background-repeat: no-repeat;
    height: 17em;
    width: 100%;
}

.image-sponsor {
    height: 30em;
}

.row-container {
    height: 8em;
    margin-top: 1em;
}

footer {
    height: 14em;
    border: 2px solid black;
    background: white;
}

.text-white {
    color: white;
}

.pos h4 {
    margin-top: 0;
}

.date {
    position: relative;
    margin: 3em;
    top: 3.3em;
}

.late-pic {
    width: 100%;
    height: 6em;
}

.h4-index {
    margin-top: 1em;
}

a:hover {
    text-decoration: none;
    color: white;
}

.sign-in_subscribe {
    margin-top: 4rem;
    font-size: 1.7em;
    font-weight: 800;
}

.sub-container {
    border: 1px solid white;
}

.subscribe-block .col-l {
    background-color: #f4f5f6;
    padding: 24px 20px 20px;
}

.subscribe-block h3 {
    margin-bottom: 15px;
    line-height: 28px;
}

.ai-c {
    -webkit-align-items: center;
    align-items: center;
}

.f1 .info {
    float: left;
}

.f1 {
    -webkit-flex: 1;
    flex: 1;
}

.lk {
    display: inline-block;
    padding: 10px 10px 10px 12px;
    color: white;
    font: bold 18px/18px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    background-color: #666;
}

.lk.red {
    background-color: #f72210;
}

.subscribe-block .lk {
    margin-bottom: 0;
}

.block-title.red {
    color: #f72210;
}

.block-title {
    font: bold 16px/16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    padding: 1em;
    color: rgba(12, 11, 11, .8);
}

.newletter-image {
    background: url("https://g.newsweek.com/themes/newsweek/images/subscribe-img2.gif") center center / cover no-repeat;
}

.fn,
.flex-n {
    -webkit-flex: none;
    flex: none;
}

.info h1,
.info h2,
.info h3,
.info h4,
.info h5,
.info h6 {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .subscribe-block .col-l,
    .subscribe-block .col-r .info {
        padding: 30px;
    }
    .subscribe-block .col-r .image {
        max-width: 191px;
        width: 48%;
    }
    .flex-sm {
        display: -webkit-flex;
        display: flex;
    }
    body {
        font-size: 15px;
        line-height: 20px;
    }
}