:root {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    height: 9rem;
    width: 100%;
    background: #f72210;
}

nav {
    height: 4rem;
    width: 100%;
    background: white;
    border: 1px solid gray;
}

.Featured-Stories {
    height: 70em;
    border: 1px solid black;
}

.Top-Story {
    height: 70em;
    border: 1px solid black;
}

.Opinion {
    height: 70em;
    border: 1px solid black;
}

.inside-mag {
    height: 30em;
    border: 1px solid black;
}

.section {
    height: 30em;
    border: 1px solid red;
}

.one,
.two,
.three {
    height: 10em;
    border: 1px dotted greenyellow;
}

.one {
    background: red;
}

.two {
    background: gold;
}

.three {
    background: green;
}

.subscribe {
    height: 25em;
    background: white;
}

.subscribe>h3 {
    color: #f72210;
}

.h1 {
    top: 2rem;
}

.news {
    position: relative;
    bottom: 18px;
}

.newsletter {
    height: 23em;
    background: cyan;
}

footer {
    height: 14em;
    border: 2px solid black;
    background: white;
}

.text-white {
    color: white;
}

.date {
    position: relative;
    margin: 3em;
    top: 3.3em;
}

a:hover {
    text-decoration: none;
    color: white;
}

.sign-in_subscribe {
    margin-top: 4rem;
    font-size: 1.7em;
    font-weight: 800;
}

.sub-container {
    border: 1px solid white;
}