body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.body-wrap {
    background-color: #fff;
    margin-top: 8em;
}

.fixed-top {
    margin-top: 0;
}

.header-one {
    background-color: #F72210;
    height: 50px;
    width: 100%;
}

.nav-item {
    margin-right: 45px;
}


/*
.sign_in_subscribe>button {
    font-size: .8rem;
    border-radius: 0;
}

.sign_in_subscribe>a {
    font-size: .6rem;
}
*/

.exhibit {
    background-color: white;
    margin-left: 70%;
    padding: 1% 5% 50% 3%;
}

footer {
    width: 100%;
}

.fa-bars {
    color: white;
}

.left_main {
    width: 60%;
}

.ryt_main {
    width: 100%;
}

.h1 {
    font-size: .9rem;
    text-align: center;
    font-weight: bolder;
    color: #000;
    font-family: inherit;
}


/*
@media only screen and (max-width: 480px) {
    .navbar-toggler {
        visibility: visible;
    }
    .d-sm-block {
        display: none;
    }
    .date {
        visibility: hidden;
    }
    img[alt="main-logo"] {
        position: relative;
        right: 100%;
    }
    .sign_in_subscribe {
        display: flex;
        position: relative;
        bottom: 20%;
        left: -10%;
    }
}

@media only screen and (min-width: 576px) {
    .date {
        visibility: hidden;
    }
    img[alt="main-logo"] {
        position: relative;
        right: 100%;
    }
    .sign_in_subscribe {
        display: flex;
        position: relative;
        bottom: 20%;
        left: -10%;
    }
    .navbar-toggler {
        display: block;
    }
}


@media only screen and (max-width: 780px) {
    .date {
        visibility: hidden;
    }
    img[alt="main-logo"] {
        position: relative;
        right: 100%;
    }
    .sign_in_subscribe {
        display: flex;
        position: relative;
        bottom: 20%;
        right: 20%;
    }
    .navbar-toggler {
        display: block;
    }
    .d-sm-block {
        display: none;
    }
    .nav-clearfix {
        height: 10vh;
    }
}



*/

@media only screen and (min-width: 1090px) {
    .d-sm-block {
        display: none;
    }
}